.homeBanner-section {
  width: 100%;
  background-image: url(./assets/bg.png);  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homeBanner-container {
  margin: auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
  min-height: 87vh;
}

.homeBanner-container .homeBanner-left-img {
  margin: 0 auto;
  width: 49%;
  text-align: right;
  border-radius: 50%;
  margin-right: 30px;
}

.homeBanner-container .homeBanner-left-img img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  animation: drop 1.5s;
}

.homeBanner-container .homeBanner-left-text {
  margin: 0 auto;
  width: 49%;
  text-transform: uppercase;
  margin-left: 30px;
  animation: drop 1.5s;
}

.homeBanner-container .homeBanner-left-text h3 {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: #797979;
}

.homeBanner-container .homeBanner-left-text h1 {
  margin-top: 20px;
  font-size: 35px;
  font-weight: 500;
  line-height: 60px;
  margin-bottom: 20px;
}

.homeBanner-container .homeBanner-left-text h5 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 0;
}

#primary_btn span {
  color: #fff !important;
}

#primary_btn {
  display: inline-block;
  background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
  letter-spacing: 0;
  margin-top: 20px;
  font-weight: 500;
  line-height: 50px;
  padding: 0 38px;
  outline: none;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  background-size: 200% auto;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  margin-right: 10px;
}

#primary_btn:hover {
  background-position: right center;
  color: #fff !important;
}

@keyframes drop {
  0% {
    opacity: 0.5;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media only screen and (max-width: 575.98px) {
  .homeBanner-section {
    padding-top: 60px;
    height: 100vh;
  }
  .homeBanner-container {
    height: 100%;
  }
}

@media only screen and (max-width: 991.98px) {
  .homeBanner-container .homeBanner-left-text h1 {
    font-size: 30px;
    font-weight: 400;
  }

  .homeBanner-container .homeBanner-left-text h5 {
    font-size: 16px;
  }
}
