.about-section {
    width: 100%;
}

.about-section-container {
    margin: auto;
    width: 80%;
}

.about-headline {
    text-align: center;
}

.about-social {
    display: flex;
    flex-direction: row;
}

.about-social li {
    list-style: none;
    margin-bottom: 10px;
}

.about-social li a{
    display: block;
    padding: 5px;
    border-radius: 50%;
    margin-right: 5px;
}

.about-social li a:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.about-social li .socialIcons{
    width: 30px;
    vertical-align: middle;
}