.about-section {
  width: 100%;
}

.about-section .about-wrapper {
  max-width: 80%;
  margin: auto;
}

.about-headline {
  text-align: center;
}

.about-discription {
  font-size: 15px;
  margin-bottom: 17px;
}

.about-title {
  font-size: 46px;
  margin-bottom: 37px;
}

.about-title .underscore {
  text-decoration: underline;
  text-decoration-color: rgba(19, 69, 230, 0.8);
}

.about-section-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -15px;
  margin-right: -15px;
  text-align: left;
  justify-content: center;
}

.about-section-container .about-pic-container {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.about-section-container .about-pic-container .about-pic-pic {
  min-height: 440px;
  max-width: 430px;
  object-fit: cover;
  vertical-align: middle;
  max-width: 100%;
  padding: 0.25rem;
}

.about-text-container {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.about-text-title {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 16px;
}

.about-text-container .about-text-head .about-text-discription {
  font-size: 14px;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.about-text-container .about-text-head .about-text-discription p {
  padding-bottom: 5px;
}

.about-text-container .about-text-details {
  font-size: 14px;
  padding: 20px 0;
  margin-bottom: 4px;
}

.about-text-container .about-text-details .about-text-info-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  font-size: 14px;
}

.about-text-container .about-text-details .about-text-info-row .single-info {
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
  font-size: 14px;
  flex: 0 0 50%;
  max-width: 50%;
}

.about-text-container
  .about-text-details
  .about-text-info-row
  .single-info
  span {
  font-weight: 400;
  margin-right: 10px;
}

.about-text-container .about-text-details .about-text-info-row .single-info p {
  display: inline-block;
  margin-bottom: 0;
}

.about-text-container .about-text-social {
  display: flex;
  text-align: center;
}

.about-text-container .about-text-social .download-cv {
  display: inline-block;
  background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
  color: #fff;
  letter-spacing: 0;
  line-height: 50px;
  padding: 0 35px;
  outline: none;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  background-size: 200% auto;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  margin-right: 23px;
  font-size: 14px;
}

.about-text-container .about-text-social .download-cv:hover {
  background-position: right center;
  color: #fff;
}

.about-text-container .about-text-social .about-social {
  align-items: center;
  display: flex;
  line-height: 100%;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
}

.about-text-container .about-text-social .about-social::before {
  background-color: rgba(0, 0, 0, 0.25);
  content: "";
  height: 2px;
  margin-right: 23px;
  width: 60px;
}

.about-text-container .about-text-social .about-social li:not(last-child) {
  margin-right: 14px;
  display: inline-block;
  line-height: 100%;
  list-style: none;
}

.about-text-container .about-text-social .about-social li a img {
  width: 21px;
  transition: transform .3s ease;
}

.about-text-container .about-text-social .about-social li a img:hover {
  transform: scale(1.2);
}

.about-skills {
  margin: 80px auto;
}

.about-skills .about-section-container ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 30px 0 30px;
  align-items: center;
  vertical-align: middle;
}

.about-skills .about-section-container ul li {
  list-style: none;
  margin: 20px;
}

.about-skills .about-section-container ul li img {
  width: 80px;
  filter: gray;
  transition: all 0.1s ease-in-out;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.1s ease-in-out;
}

.about-skills .about-section-container ul li img:hover {
  filter: none;
  transform: scale(1.01);
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}

.about-experience {
  margin: 80px auto;
}

.job-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.job {
  font-size: 14px;
  width: 40%;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-color: #fafafa;
}

.job p {
  padding-bottom: 5px;
}

.job ul {
  list-style-position: outside;
  margin-bottom: 5px;
  text-decoration: none;
  margin-left: 20px;
  text-align: left;
}

.job ul li {
  padding-bottom: 5px;
}

.education-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.about-education {
  margin: 80px auto;
}

.education {
  font-size: 14px;
  width: 45%;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-color: #fafafa;
}

@keyframes dropfromtop {
  0% {
    opacity: 0.5;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes dropfrombottom {
  0% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media only screen and (max-width: 991.98px) {
  .about-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }
  .about-section-container .about-pic-container {
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: center;
  }
  .about-section-container .about-pic-container img {
    min-height: 100%;
    object-fit: cover;
    background-color: transparent;
    border-color: rgba(167, 125, 125, 0.18);
    vertical-align: middle;
    max-width: 100%;
    padding: 5px;
    border-radius: 50%;
  }
  .about-section-container .about-pic-container .about-pic-pic {
    min-height: 250px;
    width: 250px;
    object-fit: cover;
    background-color: transparent;
    border-color: rgba(167, 125, 125, 0.18);
    vertical-align: middle;
    max-width: 100%;
    padding: 5px;
  }
  .about-text-container {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .about-text-container .about-text-social {
    justify-content: center;
  }
  .job {
    width: 100%;
    background-color: #fafafa;
  }
  .about-education {
    margin: 80px auto;
  }
  .education {
    width: 45%;
  }
}

@media only screen and (max-width: 768.98px) {
  .about-section {
    min-height: 100vh;
    padding-top: 100px;
  }
  .about-section-container {
    margin-bottom: 20px;
  }
  .about-text-container .about-text-details .about-text-info-row {
    display: block;
  }
  .about-section .about-wrapper {
    max-width: 100%;
  }
  .about-text-container .about-text-details .about-text-info-row .single-info {
    max-width: 100%;
  }
  .about-text-container .about-text-social .about-social::before {
    display: none;
  }
  .about-text-container .about-text-social {
    display: block;
    padding: 24px 0;
  }
  .about-text-title {
    font-size: 16px;
    font-weight: 700;
    margin: 16px 0;
  }
  .about-text-container .about-text-social .download-cv {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .about-text-container .about-text-social .about-social {
    justify-content: center;
    padding: 10px;
  }
  .about-skills .about-section-container ul li {
    list-style: none;
    margin: 10px;
  }
  .job {
    width: auto;
    margin: 10px;
    background-color: #fafafa;
  }
  .education-inner {
    flex-direction: column;
  }
  .education {
    width: auto;
  }
}
