header {
  width: 100%;
  transition: all 0.5s;
}

header .header-container .header-inner-container {
  margin: auto;
  width: 80%;
  min-height: 13vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
  transition: all 0.2s ease-in-out;
}

.header-logo {
  margin-left: 30px;
}

.header-logo .header-logo-pic {
  display: block;
  border-radius: 50%;
}

.header-nav {
  display: flex;
  align-items: center;
  vertical-align: middle;
  margin-right: 30px;
}

.header-nav nav ul {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.header-nav nav ul li {
  list-style: none;
  margin-left: 10px;
}

.header-nav nav ul li a {
  text-decoration: none;
  padding: 10px;
  border-bottom: 2px solid transparent;
  transition: all 0.5s;
  outline: 0;
}

.header-nav nav ul li .active {
  color: blue;
  border-bottom: 2px solid blue;
}

.header-nav nav ul li a:hover {
  text-decoration: none;
  padding: 10px;
  outline: 0;
  color: blue;
  border-bottom: 2px solid blue;
}

.header-nav nav ul li a:focus {
  text-decoration: none;
  padding: 10px;
  outline: 0;
  color: blue;
  border-bottom: 2px solid blue;
}

@media only screen and (max-width: 575.98px) {
  .header-inner-container {
    min-width: 100%;
    min-height: 50vh;
    position: fixed;
    flex-direction: column;
    background: #fff;
    top: -500px;
    z-index: 9;
  }
  .open {
    top: 0;
  }
  .line {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px;
  }
  header .header-container {
    position: relative;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(5%, 50%);
    z-index: 10;
  }
  .header-logo {
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-left: 0;
    height: 13vh;
  }
  .header-nav {
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-right: 0;
    height: 50vh;
  }
  .header-nav nav {
    height: 100%;
  }
  .header-nav nav ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
  }
  .header-nav nav ul li a {
    color: #000;
    border-bottom: 2px solid transparent;
  }
  .header-nav nav ul li a:hover {
    text-decoration: none;
    padding: 10px;
    outline: 0;
    color: #000;
    border-bottom: 2px solid #000;
  }
  .header-nav nav ul li .active {
    color: #000;
    border-bottom: 2px solid #000;
  }
}

@media only screen and (max-width: 991.98px) {
}
