header {
  width: 100%;
  transition: all 0.5s;
}

header .header-container .header-inner-container {
  margin: auto;
  width: 80%;
  min-height: 13vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
  // transition: all 400ms ease-in;
}
.logo {
  display: none;
}

.header-logo {
  margin-left: 30px;
}

.header-logo .header-logo-pic {
  display: block;
  border-radius: 50%;
}

.header-nav {
  display: flex;
  align-items: center;
  vertical-align: middle;
  margin-right: 30px;
}

.header-nav nav ul {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.header-nav nav ul li {
  list-style: none;
  margin-left: 10px;
}

.header-nav nav ul li a {
  text-decoration: none;
  padding: 10px;
  border-bottom: 2px solid transparent;
  transition: all 0.5s;
  outline: 0;
}

.header-nav nav ul li .active {
  color: blue;
  border-bottom: 2px solid blue;
}

.header-nav nav ul li a:hover {
  text-decoration: none;
  padding: 10px;
  outline: 0;
  color: blue;
  border-bottom: 2px solid blue;
}

.header-nav nav ul li a:focus {
  text-decoration: none;
  padding: 10px;
  outline: 0;
  color: blue;
  border-bottom: 2px solid blue;
}

@media only screen and (max-width: 991.98px) {
}

@media only screen and (max-width: 575.98px) {
  .logo {
    position: absolute;
    display: block;
    cursor: pointer;
    left: 5%;
    top: 50%;
    transform: translate(0%, 50%);
    z-index: 10;
    font-size: 14px;
    padding: 3px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid black;
    transition: all 0.3s ease-in-out;
  }
  .logo:hover {
    background-position: right center;
  }
  .header-inner-container {
    min-width: 100%;
    min-height: 50vh;
    position: fixed;
    flex-direction: column;
    background: #fff;
    top: -700px;
    z-index: 9;
    transition: all 500ms ease;
    box-shadow: 0 3px 16px 0 rgba(0,0,0,.1);
  }
  .open {
    top: 0;
  }
  header .header-container {
    position: relative;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(5%, 50%);
    z-index: 10;
  }
  .line {
    width: 30px;
    height: 3px;
    background-color: black;
    transition: all 400ms linear;
    margin: 5px;
  }
  .hamburger[aria-expanded="true"] .line:first-child {
    transform: rotate(-45deg);
    position: relative;
    top: 8px;
  }
  .hamburger[aria-expanded="true"] .line:nth-child(2) {
    opacity: 0;
  }
  .hamburger[aria-expanded="true"] .line:last-child {
    transform: rotate(45deg);
    bottom: 8px;
    position: relative;
  }
  .header-logo {
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-left: 0;
    height: 07vh;
    visibility: hidden;
  }
  .header-nav {
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-right: 0;
    height: 50vh;
    font-size: 14px;
  }
  .header-nav nav {
    height: 100%;
  }
  .header-nav nav ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
  }
  .header-nav nav ul li a {
    color: #000;
    border-bottom: 2px solid transparent;
  }
  .header-nav nav ul li a:hover {
    text-decoration: none;
    padding: 10px;
    outline: 0;
    color: #000;
    border-bottom: 2px solid #000;
  }
  .header-nav nav ul li .active {
    color: #000;
    border-bottom: 2px solid #000;
  }
}
